@mixin border-Gradient($border, $backgroundColor1, $backgroundColor2) {
    border: $border;
    box-sizing: border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: $backgroundColor1, $backgroundColor2;
}
@mixin background-Gradient($backgroundColor1) {
    background-image: $backgroundColor1;
}
@mixin btn-border-slide($hoverColor, $borderWidth, $time) {
    $easing: cubic-bezier(0.4, 0, 0.2, 1);
    
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      height: $borderWidth;
      width: 100%;

    }
  
    &:before {
      top: 0;
    }
  
    &:after {
      bottom: 0;
    }
  
    &:hover {
  
      & > * {
  
        & > * {
  
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
  
          & > * {
            &:before,
            &:after {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  
    & > * {
  
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
  
        height: 100%;
        width: $borderWidth;
  

      }
  
      &:before {
        left: 0;
      }
  
      &:after {
        right: 0;
      }
  
      & > * {
  
        &:before,
        &:after {
          content: "";
          position: absolute;
          left: 0;
          z-index: 2;
  
          height: $borderWidth;
          width: 100%;
  
          background-color: $hoverColor;
        }
  
        &:before {
          top: 0;
  
          transform: translate3d(-105%, 0, 0);
          transition: transform $time $easing;
        }
  
        &:after {
          bottom: 0;
          
          transform: translate3d(105%, 0, 0);
          transition: transform $time $easing;
        }
  
        & > * {
  
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            z-index: 2;
  
            height: 100%;
            width: $borderWidth;
  
            background-color: $hoverColor;
          }
  
          &:before {
            left: 0;
  
            transform: translate3d(0, 105%, 0);
            transition: transform $time $easing;
          }
  
          &:after {
            right: 0;
  
            transform: translate3d(0, -105%, 0);
            transition: transform $time $easing;
          }
        }
      }
    }
  }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1; font-family: Arial, Helvetica, sans-serif; background: #fdfafa; color: #555555;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}
a:hover{
    text-decoration: none;
}
#header{
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    @include border-Gradient(1px solid transparent, linear-gradient(#fdfafa, #fdfafa), linear-gradient(to right, #cd295a, #38deae, #cd295a));
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index: 3;
    #left-header{
        #logo{
            a{
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                @include border-Gradient(8px solid transparent, linear-gradient(#fdfafa, #fdfafa), linear-gradient(to right, #cd295a, #38deae, #cd295a));
                span{
                    display: flex;
                    align-items: center;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: linear-gradient(to right,#cd295a, #38deae, #cd295a);
                    .fa{
                        display: inherit;
                        margin-right: 5px;
                    }
                }
                
                @media (min-width: 1000px){
                    max-width: 300px;
                }
            }
        }
    }
    #right-header{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        #search{
            display: flex;
            align-items: center;
            width: 50%;
            padding-right: 15px;
            @media (max-width: 990px){
                width: 100%;
                padding-right: 0px;
                margin-top: 10px;
            }
            
            form{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                input[type='text']{
                    width: calc(100%);
                    height: 40px;
                    border: 2px double transparent;
                    padding: 0 60px 0 20px;
                    box-sizing: border-box;
                    background-clip: padding-box, border-box;
                    background-origin: padding-box, border-box;
                    background-image: linear-gradient(#fdfafa, #fdfafa), linear-gradient(to right,#cd295a, #38deae, #cd295a);
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    width: 40px;
                    height: 40px;
                    margin-left: -40px;
                    border: 2px solid transparent;
                    border-left: 2px solid #cd295a;
                    background-color: transparent;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        #dky-dnhap-btnmenu{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 990px){
                width: 100%;
                justify-content: space-between;
                margin-top: 10px;
            }
            #dky-dnhap{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .item{
                    margin: 0 15px;
                    display: block;
                    padding: 15px 20px;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    &:nth-child(1){
                        color: #555555;
                        border: 2px solid #555555;
                    }
                    &:nth-child(2){
                        background-color: #cd295a;
                        margin-right: 0;
                    }
                }
                #account{
                    ul{
                        li{
                            position: relative;
                            cursor: pointer;
                            a{
                                display: flex;
                                align-items: center;
                                font-weight: bold;
                                font-size: 14px;
                                color: #555555;
                                img{
                                    width: 50px;
                                    height: 50px;
                                    object-fit: cover;
                                    display: block;
                                    border-radius: 50%;
                                    margin-right: 5px;
                                }
                            }
                            ul{
                                display: none;
                                position: absolute;
                                width: 100%;
                                padding: 0px 5px;
                                background: #fdfafa;
                                @include border-Gradient(1px solid transparent, linear-gradient(#fdfafa, #fdfafa), linear-gradient(to right, #cd295a, #38deae, #cd295a));
                                
                                max-height: 0;
                                transition: 0.4s;
                                overflow: hidden;
                                li{
                                    transition: 0.3s;
                                    a{
                                        display: block;
                                        padding: 10px 0;
                                    }
                                    &:nth-child(2n + 1){
                                        a{
                                            @include border-Gradient(1px solid transparent, linear-gradient(#fdfafa, #fdfafa), linear-gradient(to right, #cd295a, #38deae, #cd295a));
                                            border-top: 0;
                                            border-right: 0;
                                            border-left: 0;
                                        }
                                    }
                                }
                                &.active{
                                    display: block;
                                    max-height: 100vh;
                                }
                            }
                            &:hover{
                                ul{
                                    display: block;
                                    max-height: 100vh;
                                }
                            }
                        }
                    }
                    
                }
            }
            #btnmenu{
                display: none;
                #open-menu{
                    background: #fdfafa;
                    border: 2px solid #555555;
                    color: #555555;
                    border-radius: 5px;
                    font-size: 16px;
                    padding: 10px 15px;
                }
                @media (max-width: 990px){
                    display: block;
                }
            }
        }
    }
}
#main{
    #left{
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: #555 #f1f1f1;
        scrollbar-width: thin;
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        #close-menu{
            display: none;
        }
        .item{
            min-width: 300px;
            .title{
                font-size: 16px;
                font-weight: bold;
                display: block;
                color: white;
                padding: 10px;
                background: #f19c65;
            }
            .list{
                ul{
                    border: 1px solid #f19c65;
                    li{
                        &:not(:last-child){
                            border-bottom: 1px solid #f19c65;
                        }
                        a{
                            display: block;
                            padding: 10px;
                            color: #555555;
                        }
                        &:hover{
                            background-color: #dedede;
                        }
                    }
                }
            }
            
        }
        @media (max-width: 990px){
            position: fixed;
            top: 0;
            left: 0;
            z-index: 4;
            background: #fdfafa;
            max-width: 0;
            padding: 0;
            height: 100vh;
            
            display: block;
            transition: 0.4s;
            &.active{
                max-width: 300px;
            }
            #close-menu{
                display: block;
                padding: 20px;
                display: block;
                cursor: pointer;
            }
        }
    }
    #right{
        #slider{
            a{
                display: block;
                img{
                    width: 100%;
                }
            }
            .slick-prev {
                left: 0px;
                z-index: 1;
            }
            .slick-next {
                right: 0px;
                z-index: 1;
            }
            .slick-prev, .slick-next{
                width: 40px;
                height: 40px;
            }
            .slick-prev:before, 
            .slick-next:before {
                font-size: 40px;
                color: #0000008e;
            }
        }
        .products{
            margin-top: 15px;
            .title{
                border-bottom: 1px solid #f19c65;
                span{
                    display: block;
                    background: #f19c65;
                    width: max-content;
                    padding: 10px 15px;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            .items{
                padding: 0 15px;
                margin-top: 15px;
                .item{
                    width: 20%;
                    padding: 15px;
                    display: block;
                    color: #555555;
                    text-align: center;
                    @include btn-border-slide(#f19c65, 2px, 0.8s);
                    .avata{
                        img{
                            width: 100%;
                            max-width: 150px;
                        }
                    }
                    .name{
                        h3{
                            font-size: 14px;
                            font-weight: bold;
                            margin: 10px 0;
                        }
                    }
                    .price{
                        color: red;
                    }
                    .description{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        max-height: 0;
                        background: #f19c65;
                        overflow: hidden;
                        padding: 0 10px;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.4s linear;
                        ul{
                            text-align: left;
                            li{
                                padding: 10px 0;
                            }
                            
                        }
                    }
                    &:hover{
                        .description{
                            max-height: 100%;
                        }
                    }
                    @media (max-width: 660px){
                        width: 50%;
                    }
                }
                #capnhatsp{
                    color: #555555;
                    font-size: 18px;
                    display: block;
                    margin: auto;
                    font-weight: bold;
                    padding: 15px;
                }
            }
        }
    }
}
#footer{
    background: black;
    color: white;
    margin-top: 15px;
    .col-12{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
    }
}