#header.container-fluid
    .row
        #left-header.col-12.col-sm-12.col-md-12.col-lg-4.col-xl-3
            #logo
                a(href='/')
                    span
                        i.fa.fa-book
                        |  Book  Store
        #right-header.col-12.col-sm-12.col-md-12.col-lg-8.col-xl-9
            #search
                form(action='/product/search')
                    input(type='text', name='q', placeholder='Nhập tựa sách cần tìm', value = querySearch ? querySearch : '')
                    button(type='submit')
                        i.fa.fa-search
            #dky-dnhap-btnmenu
                #btnmenu
                    button#open-menu
                        i.fa.fa-bars
                #dky-dnhap
                    if !login
                        a.item(href='/users')
                            i.fa.fa-user
                            |  Đăng nhhập
                        a.item(href='/users/signup')
                            i.fa.fa-file-text-o
                            |  Đăng ký
                    else
                        #account
                            ul
                                li#info
                                    a
                                        img(src='../../images/avata.JPG', alt='')
                                        = username
                                    ul#acc-setting
                                        if role == 1
                                            li
                                                a#dn-admin(href='/admin')
                                                    i.fa.fa-cogs
                                                    span Chuyển đến page quản lý
                                        li
                                            a#setting(href='/users/logout')
                                                i.fa.fa-cog
                                                span Logout