extends ../layout

block content
    #title= nameAction
    #main
        form(action='', method='POST')
            input.form-control(type='hidden', value= item ? item._id : '', name='id')
            .form-group
                label(for='name') Name
                input#name.form-control(type='text', name='name', placeholder='name', autocomplete='off', value = item ? item.name : '')
            if item    
                .form-group
                    label(for='link_seo') Link
                    input#name.form-control(type='text', name='link_seo', placeholder='Link', autocomplete='off', value = item ? item.link_seo : '')
            .form-group
                label(for='description') Description
                textarea#description.form-control.ckeditor(rows='3', name='description')= item ? item.description : ''
            .form-group
                label(for='content') Content
                textarea#content.form-control.ckeditor(rows='3', name='content')= item ? item.content : ''
            .form-row
                .form-group.col-md-1
                    label(for='serial') Serial
                    input#serial.form-control(type='number', name='serial', value= item ? item.serial : '1')
            .form-row
                .form-group.col-md-2
                    .form-check
                        if item
                            input#hidden.form-check-input(type='checkbox', name='hidden', checked= item ? item.hidden : item.hidden)
                        else
                             input#hidden.form-check-input(type='checkbox', name='hidden')
                        label.form-check-label(for='hidden')
                            | Hidden
            button.btn.btn-primary(type='submit') Save