#logo
    a(href='./') Admin Handmade

// catalog
#catalog
    ul
        li
            a(href='/admin/')
                i.fa.fa-tachometer
                | Dashboard
        li
            a(href='/admin/order')
                i.fa.fa-shopping-cart
                | Order
        li
            a(href='/admin/products')
                i.fa.fa-product-hunt
                | Products
        li
            a(href='/admin/contact')
                i.fa.fa-phone-square
                | Contact
        li
            a(href='/admin/')
                i.fa.fa-cogs
                |  Setting
// end catalog