#logo
    a(href='./admin') Admin

// catalog
#catalog
    ul
        //
            li
                a(href='/admin/')
                    i.fa.fa-tachometer
                    | Dashboard
            li
                a(href='/admin/order')
                    i.fa.fa-shopping-cart
                    | Order
        li
            a(href='/admin/categorys')
                i.fa.fa-product-hunt
                | Categorys
        li
            a(href='/admin/publishers')
                i.fa.fa-product-hunt
                | Publishers
        li
            a(href='/admin/products')
                i.fa.fa-product-hunt
                | Products
        //
            li
                a(href='/admin/contact')
                    i.fa.fa-phone-square
                    | Contact
            li
                a(href='/admin/')
                    i.fa.fa-cogs
                    |  Setting
        li
            a(href='/')
                i.fa.fa-product-hunt
                | Trở lại trang chủ
// end catalog