#logo
    a(href='./') Admin Handmade
div
    // catalog
    #catalog
        ul
            li
                a(href='./')
                    i.fa.fa-tachometer
                    | Dashboard
            li
                a(href='./order')
                    i.fa.fa-shopping-cart
                    | Order
            li
                a(href='./products')
                    i.fa.fa-product-hunt
                    | Products
            li
                a(href='./contact')
                    i.fa.fa-phone-square
                    | Contact
            li
                a(href='')
                    i.fa.fa-cogs
                    |  Setting
    // end catalog