#header
  #button-catalog
    a(href='')
      i.fa.fa-bars
  .navbar-custom-menu
    ul
      li.dropmenu.messages-menu
        a.title(href='', number='9')
          i.fa.fa-envelope-o
      li.dropmenu.notifications
        a.title(href='', number='15')
          i.fa.fa-bell
      li.dropmenu.tasks-menu
        a.title(href='', number='20')
          i.fa.fa-flag
      li.dropmenu
        a(href='')= user