extends ../layout

block content
    
        #title
            | Products
        #main
            table.table
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Name
                        th(scope='col') Avata
                        th(scope='col') Price
                        th(scope='col') Sold/Count
                        th(scope='col') Show/Hidden
                        th(scope='col') Edit/Delete
                tbody
                    tr
                        th(scope='row') 1
                        td Product 1
                        td
                            img(src='https://i.pinimg.com/originals/f4/1c/48/f41c48a92a46f406e95b78bd4c56310c.jpg', alt='')
                        td 999.999 $
                        td 10/100
                        td
                            a(href='') hidden
                        td
                            a.btn.btn-primary.btn-lg.active(href='#', role='button', aria-pressed='true') Edit
                            a.btn.btn-primary.btn-lg.active(href='#', role='button', aria-pressed='true') Delete
                    tr
                        th(scope='row') 2
                        td Product 2
                        td
                            img(src='https://i.pinimg.com/originals/f4/1c/48/f41c48a92a46f406e95b78bd4c56310c.jpg', alt='')
                        td 999.999 $
                        td 10/100
                        td
                            a(href='') hidden
                        td
                            a.btn.btn-primary.btn-lg.active(href='#', role='button', aria-pressed='true') Edit
                            a.btn.btn-primary.btn-lg.active(href='#', role='button', aria-pressed='true') Delete
                    tr
                        th(scope='row') 3
                        td Product 3
                        td
                            img(src='https://i.pinimg.com/originals/f4/1c/48/f41c48a92a46f406e95b78bd4c56310c.jpg', alt='')
                        td 999.999 $
                        td 10/100
                        td
                            a(href='') hidden
                        td
                            a.btn.btn-primary.btn-lg.active(href='#', role='button', aria-pressed='true') Edit
                            a.btn.btn-primary.btn-lg.active(href='#', role='button', aria-pressed='true') Delete
            nav(aria-label='Page navigation example')
                ul.pagination
                    li.page-item
                        a.page-link(href='#', aria-label='Previous')
                            span(aria-hidden='true') &laquo;
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item.active
                        span.page-link
                            | 2
                            span.sr-only (current)
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#', aria-label='Next')
                            span(aria-hidden='true') &raquo;
                            span.sr-only Next
