extends ../layout

block content
    #title= nameAction
    #main
        form(action='', method='POST', enctype='multipart/form-data')
            input.form-control(type='hidden', value= item ? item._id : '', name='id')
            .form-group
                label(for='Catalog') Category
                select#Catalog.form-control(name='category_id')
                    option(selected='') Choose...
                    if categorys
                        each category in categorys
                            option(value= category._id, selected= (item && item.category_id == category._id) ? true : false)= category.name
            .form-group
                label(for='Catalog') Publishing
                select#Catalog.form-control(name='publishing_id')
                    option(selected='') Choose...
                    if publishers
                        each publisher in publishers
                            option(value= publisher._id, selected= (item && item.publishing_id == publisher._id) ? true : false)= publisher.name
            .form-group
                label(for='name') Name
                input#name.form-control(type='text', name='name', placeholder='name', autocomplete='off', value = item ? item.name : '')
            if item    
                .form-group
                    label(for='link_seo') Link
                    input#name.form-control(type='text', name='link_seo', placeholder='Link', autocomplete='off', value = item ? item.link_seo : '')
            .form-group
                label(for='avata') Avata
                input#avata.form-control-file(type='file', name='avata')
                // img(src= item ? item.avata : '', alt='')
            .form-row
                .form-group.col-md-6
                    label(for='price') Price
                    input#price.form-control(type='text', name='price', autocomplete='off', value = item ? item.price : '')
                .form-group.col-md-6
                    label(for='count') Count
                    input#count.form-control(type='number', name='count', autocomplete='off', value = item ? item.count : 0)
            .form-group
                label(for='description') Description
                textarea#description.form-control.ckeditor(rows='3', name='description')= item ? item.description : ''
            .form-group
                label(for='content') Content
                textarea#content.form-control.ckeditor(rows='3', name='content')= item ? item.content : ''
            .form-row
                .form-group.col-md-1
                    label(for='serial') Serial
                    input#serial.form-control(type='number', name='serial', value= item ? item.serial : '1')
            .form-row
                .form-group.col-md-2
                    .form-check
                        if item
                            input#hidden.form-check-input(type='checkbox', name='hidden', checked= item ? item.hidden : item.hidden)
                        else
                             input#hidden.form-check-input(type='checkbox', name='hidden')
                        label.form-check-label(for='hidden')
                            | Hidden
            .form-row
                .form-group.col-md-2
                    .form-check
                        if item
                            input#hot.form-check-input(type='checkbox', name='hot', checked= item ? item.hot : item.hot)
                        else
                             input#hot.form-check-input(type='checkbox', name='hot')
                        label.form-check-label(for='hot')
                            | Hot
            button.btn.btn-primary(type='submit') Save